       <main>
            <h1>Attach a new accessory</h1>
            <div class="form">
                <h2>{{cube.name}}</h2>
                <img class="cube" src="{{cube.imageUrl}}">
                <form action="/cube/{{cube._id}}/attach-accessory" method="POST">
                    <label for="accessory">Accessories</label>
                    {{#if accessories}}
                    <select id="accessory" name="accessory" />
                      {{#each accessories}}
         <option value="{{_id}}">{{name}}</option> 
         {{else}}
       
                    </select>  {{/each}}
                            <input type="submit" value="Attach">
                    {{else}}

            
                      <h3 class="italic">This cube has all available accessories.</h3>

                    {{/if}}
                </form>
                <h3 class="italic">{{cube.description}}
                </h3>
                <a class="btn" href="/cube/details/{{cube._id}}">Back</a>
            </div>
        </main>
